<!--
 -> - Desafio técnico VOLUTI (Angular / Node)
 -> Desenvolver um cadastro básico de conta corrente em que ao final do cadastro gere um número de conta e agencia e banco.
 -> Campos obrigatórios do cadastro: Nome, E-mail, Telefone, Data de Nascimento, Nome da Mãe, Dados de Endereço.
 -> Enviar os dados em formato JSON para um Back-end
 -> Estrutura de backend fica a critério do desenvolvedor (Parse, AWS Lambda, Google Functions, Node, Firebase), porém deve constar na explicação de entrega
 -> Disponibilizar o projeto no GitHub e enviar o link do repositório -->

<h1> {{title}} </h1>

